[Unit]
Description=Limit system usage of some users
After=multi-user.target

[Service]
ExecStart=/opt/userlimit/userlimit.pl
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
